html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    font-family: 'Langar', cursive;
}

.line {
    width: 750px;
    height: 15px;
    background-color: chocolate;
    margin-left: 350px;
}

h1 {
    text-shadow: 2px 2px #e4fb0c;
}

#about {
    padding-top: 150px;
    padding-bottom: 150px;
    background: linear-gradient(bisque 0%, white 100%);
    background-repeat: no-repeat;
}

#image {
    border-radius: 50%;
    width: 350px;
    margin-bottom: 20px;
}

#name {
    font-size: 50px;
    color: teal;
    font-family: 'Dancing Script', cursive;
}

#hob {
    background: linear-gradient(aqua 0%, teal 100%);
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
    font-size: 35px;
    text-align: center;
}

ul {
    background-color: chartreuse;
}

.links {
    list-style: none;
    display: inline;
    color: darkcyan;
    padding: 20px;
}

.links:hover {
    background-color: orange;
}

a:visited {
    color: darkcyan;
}

#work {
    background: linear-gradient(bisque 0%, teal 100%);
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
    font-size: 35px;
    text-align: center;

}
